.loginwrapper{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;

	.loginForm{
		background: #fff;
		padding: 25px 25px 50px;
		width: 300px;

		.loginTitle{
			font-size: 16px;
			padding-bottom: 15px;
		}

		.regis{
			margin-bottom: 10px;

			.ant-form-item-control{
				line-height: 16px;
				display: flex;
				flex-direction: row;

				.login-form-forgot{
					margin-right: 5px;
					flex: 1;
					text-align: right;
				}
			}
		}

		.login-form-button{
			width: 100%;
		}
	}
}


